.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.spine {
  --dur: 2s;

  height: 3rem;
  aspect-ratio: 1/4;
  margin: 2px;
  border-radius: .1rem;
  background-color: var(--purp_med);

  animation: raise var(--dur) cubic-bezier(.6,-0.28,.74,.05) both infinite;
  animation-delay: calc(var(--ith) * 200ms);
}

.container > p {
  font-family: var(--title_sans);
  font-size: 2rem;
  margin: 1rem;
}

@keyframes raise {
  0% { transform: translateY(0); } 
  20% { transform: translateY(-1rem); } 
  40%, 100% { transform: translateY(0); } 
}
