.page {
  display: flex;
  padding: 1rem;
}

.page > *:not(:last-child) {
  margin-right: 1rem;
}

.page > img {
  margin: 1rem;
  border: 1rem solid var(--purp_med);
  border-radius: .5rem;
  box-shadow: -.5rem .5rem 0 var(--yell_dark);
}

.rightPannel {
  flex: 1;
}

.rightPannel header {
  text-align: center;
}

.rightPannel header h1 {
  font-family: var(--title_sans);
  font-size: xxx-large;
  margin-bottom: 0;
}
