.page {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* ----------------------------------------------------------------------------------- */

.form {
  display: flex;
  justify-content: center;
  height: min-content;
  margin: 3rem 0;
}

.searchFull {
  flex: 1;
  align-items: center;
  margin-bottom: 15%;
}

.searchLabel {
  min-width: 50%;
  display: flex;
  align-items: center;

  font-family: var(--title_sans);
  font-size: x-large;
}

.searchFull > .searchLabel {
  flex-direction: column;
  font-size: xxx-large;
}

:not(.searchFull) > .searchLabel {
  animation: fadeIn 200ms ease-out both,
    fromRight 200ms ease-out both;
}

.searchLabel > div {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 1rem;

  border-radius: 1rem .3rem .3rem .3rem;
  background-color: var(--purp_dark);
}

.searchLabel input {
  flex: 1;

  padding: .5rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem .3rem .3rem .3rem;
  color: inherit;
  background-color: transparent;
}

.searchLabel img {
  height: 1.5rem;
  margin: .5rem;
  aspect-ratio: 1/1;
}

/* ----------------------------------------------------------------------------------- */

.resultsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 200ms ease-out both,
    fromBelow 200ms ease-out both;
}

.resultsContainer > *:not(:last-child) {
  margin-bottom: 1rem;
}

/* ----------------------------------------------------------------------------------- */

.resultBook {
  display: flex;
  align-items: flex-start;
  width: 80%;
  padding: 1rem;

  border-radius: .3rem;
  background-color: var(--purp_dark);
  transition: height 100ms ease-out;
}

.resultBook > img {
  flex-shrink: 0;
  height: 12vw;
  width: 8vw;
  margin: 1rem; 

  object-fit: cover;
  border: .5rem solid var(--purp_med);
  border-radius: .5rem;
  box-shadow: -.5rem .5rem 0 var(--very_dark);
  background-color: var(--very_dark);
}

.header {
  display: flex;
  flex-direction: column;
}

.header h3 {
  font-family: var(--title_sans);
  font-size: 1.3rem;
  text-shadow: -.2rem .2rem 0 var(--very_dark);
}

.headerBtn {
  width: max-content;
  display: flex;
  align-items: center;

  padding: .3rem .5rem;
  border-radius: .2rem;
  font-family: inherit;
  font-size: .9rem;
  font-weight: 700;
  color: var(--purp_dark); 
  background-color: var(--yell);
}

.headerBtn.addBtn {
  animation: fromRight 300ms ease-out,
    fadeIn 150ms ease-out;
}

.headerBtn.owned {
  height: max-content;
  color: var(--purp_light); 
  outline: 2px solid currentColor;
  background-color: transparent; 
}

.headerBtn > svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: .5rem;
}

.owned > svg {
  animation: rotate 500ms cubic-bezier(.18,.89,.32,1.28) both,
    fadeIn 200ms ease-out both;
}

.headerBtn > svg > path {
  fill: currentColor;
}

.desc > * {
  white-space: pre-line;
}

/* ----------------------------------------------------------------------------------- */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes rotate {
  from { transform: rotate(-180deg); }
  to { transform: rotate(0deg); }
}

@keyframes fromRight {
  from { transform: translateX(1rem); }
  to { transform: translateX(0rem); }
}

@keyframes fromBelow {
  from { transform: translateY(2rem); }
  to { transform: translateY(0rem); }
}
