.button {
  --background: var(--purp_med);
  --shadow: var(--yell_dark);

  height: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow-x: hidden;
  position: relative;
  border-radius: 100%;
  background-color: var(--background);
}

.button:after {
  content: '';
  display: block;

  position: absolute;
  top: 25%;
  z-index: -1;
  height: 50%;
  aspect-ratio: 1/1;

  border-radius: 0.3rem;
  background-color: var(--background);
}

.left {
  margin-left: 1rem;
  filter: drop-shadow(-.2rem .2rem 0 var(--shadow)); 
}

.left:after {
  transform: translateX(-40%) rotate(45deg) skew(-20deg, -20deg);
}

.right {
  margin-right: 1rem;
  filter: drop-shadow(.2rem .2rem 0 var(--shadow)); 
}

.right:after {
  transform: translateX(100%) rotate(45deg) skew(-20deg, -20deg);
}

.button > img {
  aspect-ratio: 1/1;
  margin: .2rem;
}
