.page {
  display: flex;
}

.page > *:not(:last-child) {
  margin-right: 3rem;
}

/* ----------------------------------------------------------------------------------- */

.leftPanel {
  flex: 1;
  max-width: 45%; 
  display: flex;
}

/* ----------------------------------------------------------------------------------- */

.dossier {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  
  overflow-y: auto;

  background-color: var(--purp_med);
}

.dossier > * {
  animation: fadeIn ease-out 200ms forwards;
}

/* ----------------------------------------------------------------------------------- */

.dossier > .bookActions {
  padding: 1rem;
  margin-bottom: 1rem;
}

.bookActions > button {
  font-size: .7rem; 
  display: flex;
  align-items: center;
  padding: .5em;

  border-radius: .5rem;
  font-weight: 700;
  color: var(--clear_purp);
  background-color: transparent;
}

.bookActions > button:hover {
  background-color: rgba(0,0,0,0.2); 
}

.bookActions > button > svg {
  height: 1.3em;
  width: 1.3em;
  margin-left: .5em;
}

.bookActions > button > svg > path {
  fill: currentColor;
}

button.removeBtn {
  color: var(--ketchup);
}

/* ----------------------------------------------------------------------------------- */

.dossier > .title {
  text-align: center;
}

.dossier > .title > * {
  margin: 0;
}

.dossier > .title > h3 {
  font-family: var(--title_sans);
  font-size: 2rem;
  color: var(--clear_purp);
}

/* ----------------------------------------------------------------------------------- */

/* cover */
.dossier > img {
  min-height: 20vw;
  max-height: 75%;
  min-width: 10vw;
  margin: 0 auto;

  border: .7rem solid var(--purp_light);
  border-radius: .5rem;
  background-color: var(--very_dark);
}

/* ----------------------------------------------------------------------------------- */

.tabMenu {
  display: flex;
  flex-direction: column;
}

.tabMenu > *:not(:last-child) {
  margin-bottom: .5rem;
}

.tabMenu > button {
  flex: 1;
  width: 2rem;
  border-radius: 0 .5rem .5rem 0;
  background-color: var(--purp_dark);
}

.tabMenu > button.active {
  background-color: var(--purp_med);
}

.tabMenu > button > img {
  width: 100%;
  opacity: 0.5;
}

/* ----------------------------------------------------------------------------------- */

.rightPanel{
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

/* ----------------------------------------------------------------------------------- */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes doubleGrow {
  0% { transform: scale(.1, .1); }
  50% { transform: scale(1, .1); }
  100% { transform: scale(1, 1); }
}

@keyframes slideFromRight {
  from { transform: translateX(1rem); }
  to { transform: translateX(0rem); }
}
